<!DOCTYPE html>
<html>
    
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="utf-8">
    </head>
    
    <body>
        {{> header}}
        <p>This will contain the portfolio...</p>
        {{> footer}}
    </body>


</html>